@media all and (min-width: 480px) {
  .Home {
    position: fixed;
    right: 2rem;
    top: 1rem;
  }

  .btn2 {
    margin-left: 10px;
    width: 7rem;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}